/* At Symbol Linking styles */
.at-symbol-linking-folder-container {
	border: none;
}

.at-symbol-linking-folder-setting {
	.search-input-container {
		width: 100%;
	}
}

.at-symbol-linking-suggestion {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
}

.at-symbol-linking-suggestion .suggestion-context {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: auto;
}

.at-symbol-linking-suggestion .suggestion-path {
	font-size: 0.8em;
	color: var(--text-muted);
	width: 100%;
	flex-basis: 100%;
	overflow-wrap: break-word;
}

.at-symbol-linking-suggestion .suggestion-aux {
	display: flex;
	align-items: center;
	align-self: center;
	flex-shrink: 0;
}

.at-symbol-linking-suggestion .suggestion-flair {
	color: var(--text-muted);
	opacity: var(--icon-opacity);
	margin: 0 4px 0 12px;
	display: flex;
	align-items: center;
}

/* Manual extension */
.extension-container-at-symbol-linking {
	width: fit-content !important;
	max-width: 500px;
}
